@using eCommerce.ViewModels;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model eCommerce.ViewModels.KategoriViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<div class="card mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Create Kategori</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="NamaKategori" class="control-label">Nama Kategori</label>
                <input asp-for="NamaKategori" class="form-control" />
                <span asp-validation-for="NamaKategori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskripsiKategori" class="control-label">Deskripsi Kategori</label>
                <input asp-for="DeskripsiKategori" class="custom-file-input" />
                <span asp-validation-for="DeskripsiKategori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-file">
                <label asp-for="IconFile" class="custom-file-label"></label>
                <input asp-for="IconFile" type="file" class="custom-file-input" />
                <span asp-validation-for="IconFile" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" value="Create" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
