@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_BackgroundLayout";
}
<div class="content">
        <div class="py-4 px-3 px-md-4">
            <div class="card mb-3 mb-md-4">

                <div class="card-body" >
                    <h1> <center>Privacy</center></h1>   
                </div>
            </div>
        </div>
</div>