<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="~/template/img/logo/logo.png" rel="icon">
  <title>RuangAdmin - Login</title>
  <link href="~/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="~/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="~/template/css/ruang-admin.min.css" rel="stylesheet">

</head>
<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  <!-- Login Content -->
  <script src="~/template/vendor/jquery/jquery.min.js"></script>
  <script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/template/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="~/template/js/ruang-admin.min.js"></script>
</div>

</html>