@using eCommerce.ViewModels;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model eCommerce.ViewModels.AlamatViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_CustomerLayout";
}

<br>
<br>
<br>
<br>
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="/Home/Index" class="stext-109 cl8 hov-cl1 trans-04">
      Home
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <a href="/Alamat/Index" class="stext-109 cl8 hov-cl1 trans-04">
      Alamat
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
      Create
    </span>
  </div>
</div>

<br>
<br>

<div class="featured-page">
 <div class="container">

<div class="card mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Create Alamat</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" >
            <div class="form-group">
                <label asp-for="Kecamatan" class="control-label">Kecamatan</label>
                <input asp-for="Kecamatan" class="form-control" />
                <span asp-validation-for="Kecamatan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kelurahan" class="control-label">Kelurahan</label>
                <input asp-for="Kelurahan" class="form-control" />
                <span asp-validation-for="Kelurahan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rt" class="control-label">RT</label>
                <input asp-for="Rt" class="form-control" />
                <span asp-validation-for="Rt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rw" class="control-label">RW</label>
                <input asp-for="Rw" class="form-control" />
                <span asp-validation-for="Rw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KodePos" class="control-label">Kode Pos</label>
                <input asp-for="KodePos" class="form-control" />
                <span asp-validation-for="KodePos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label">Detail</label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
           
            <button type="submit" value="Create" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
</div>
</div>
     

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
