@using System.Globalization
@model List<eCommerce.ViewModels.KeranjangViewModel>
@{
    ViewData["Title"] = "Checkout Berhasil";
    Layout = "_CustomerLayout";
}
<div class="featured-page">
    <div class="container">
        <p>
            Pesanan anda sudah diterima

            @Html.ActionLink("Pesanan saya", "MyOrder", "Order");

        </p>
    </div>
</div>
