
@{
    ViewData["Title"] = "About";
    Layout = "_CustomerLayout";
   
}
<br>
<br>
<br>
<br>
<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/Home/About" class="stext-1000 cl8 hov-cl1 trans-04">
				About Me
			</a>
		</div>
</div>

<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="slick3 gallery-lb">
                                <img src="~/customertemp/images/About.jpg" height="250" />
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							Tentang Saya
						</h4>

						<p class="stext-102 cl3 p-t-23">
							Saya Aldira Fitri Haniifah <br>
                            Saya seorang mahasiswa jurusan sistem informasi semester 6 dari Institut Teknologi Nasional Bandung <br>
                            Yang saya pikirkan sekarang adalah saya ingin cepat lulus &#128512;
						</p>

                        @* <p class="stext-102 cl3 p-t-23">
                            Saya Aldira <br>
                            Saya suka Straykids namun dipaksa untuk ngoding agar pemasukan lancar <br>
                            Saya suka segala jenis makanan, dan saya tidak suka laporan <br>
                            Saya bersedia membantu jika dibayar &#129310;
                            Jika bersedia membayar, silahkan hubungi saya. Jika bayarannya kurang meyakinkan tidak akan saya balas &#128591;
                        </p> *@
						
					
					</div>
				</div>
			</div>
	</section>


