@using Microsoft.AspNetCore.Mvc.Rendering;
@model eCommerce.ViewModels.ProdukViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<div class="card mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Create Produk</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="NamaProduk" class="control-label">Nama Produk</label>
                <input asp-for="NamaProduk" class="form-control" />
                <span asp-validation-for="NamaProduk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskripsiProduk" class="control-label">Deskripsi Produk</label>
                <input asp-for="DeskripsiProduk" class="form-control" />
                <span asp-validation-for="DeskripsiProduk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HargaProduk" class="control-label">Harga Produk</label>
                <input asp-for="HargaProduk" class="form-control" />
                <span asp-validation-for="HargaProduk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stok" class="control-label">Stok</label>
                <input asp-for="Stok" class="form-control" />
                <span asp-validation-for="Stok" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="GambarFile" class="control-label">Gambar</label>
                <input asp-for="GambarFile" type ="file" class="form-control" />
                <span asp-validation-for="GambarFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategoriId" class="control-label"></label>
                @Html.DropDownList("KategoriId", (List<SelectListItem>)ViewBag.KategoriDataSource,"",
                    new {multiple = "multiple"})
                <span asp-validation-for="KategoriId" class="text-danger"></span>
            </div>
            <button type="submit" value="Create" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


